<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      Document
    </title>
  </head>
  <body>
    <div class="ui pink large menu inverted">
      <div class="header item">
        <a href="{{ route('easy.home') }}">Easy URL</a>
      </div>

      <div class="right menu">
        @if(auth.isAuthenticated)
          <div class="ui dropdown item">
            User: {{ auth.user.email }}
          <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item">
                <a style="color: black;" href="{{ route('user.logout') }}">Log out</a>
              </div>
            </div>
          </div>
        @end
      </div>
    </div>
  </body>
</html>
